@tailwind base;
@tailwind components;
@tailwind utilities;
nextjs-portal {
  display: none;
}

.icon-small {
  font-size: 0.75rem; /* Adjust the size as needed */
}

@layer base {
  :root {
    --border: 240 3.7% 15.9%;
  }
}
